/* media querries */

@media screen and (max-width: 1280px){
    /* header */
    header{
        .nav-wrapper{
            .social-links{
                width: 10%;
            }
        }
    }

    /* section 1 */

    .discover{
        height: 600px;
        .discover-text{
            width: 100%;
        }
        p{
            padding-bottom: 20px;
        }
        .discover-img{
            display: none;
        }
    }

    
    /* section 2 */

    .menu{
        .menu-wrapper{
            .menu-display{
                width: 80%;
            }
        }
    }

    /* section 3 */

    .booking{
        .booking-wrapper{
            width: 80%;
            .booking-form{
                .booking-form-inputs{
                    width: 80%;
                    .row{
                        input, select{
                            width: 30%;
                        }
                    }
                }
            }
        }
    }

    /* section 4, en display: none */

    .event{
        display: none;
    }

    /* footer */

    footer{
        height: 1300px;
        .testimony{
            .testimony-text{
                width: 80%;
                height: 540px;
                figure{
                    bottom: 23%;
                }
            }
        }
        .footer-wrapper{
            height: 380px;
        }
    }
}

@media screen and (max-width: 1140px){
    /* tablettes avec grande résolution, format paysage */
    .booking{
        .booking-wrapper{
            .booking-time{
                width: 34%;
            }
            .booking-form{
                width: 66%;
            }
        }
    }

    footer{
        .testimony{
            .testimony-text{
                figure{
                    bottom: 18%;
                }
            }
        }
    }
}

@media screen and (max-width: 996px){
    /* tablettes format portrait */
    .menu{
        height: fit-content;
        .menu-wrapper{
            .menu-title{
                width: 80%;
                .menu-nav{
                    padding-bottom: 100px;
                }
            }
            .menu-display{
                bottom: 100px;
                width: 80%;
                .menu-display-dishes{
                    flex-flow: column;
                    align-items: center;
                    .dish{
                        width: 80%;
                        height: 165px;
                    }
                }
            }
        }
    }

    .booking{
        .booking-wrapper{
            flex-flow: column;
            align-items: center;
            height: fit-content;
            width: 80%;
            .booking-time, .booking-form{
                width: 100%;
            }
            .booking-form{
                height: 800px;
                h2{
                    font-size: 35px;
                    height: 30px;
                }
                h3{
                    font-size: 25px;
                }
                .booking-form-inputs{
                    .row{
                    flex-flow: column;
                    align-items: center;
                        input, select{
                            width: 75%;
                        }
                    }
                }
                
            }
        }
    }

    footer{
        .testimony{
            .testimony-text{
                width: 80%;
                figure{
                    bottom: 22%;
                }
                .testimony-text-quote{
                    font-size: 15px;
                }
            }
        }
        .footer-wrapper{
            align-items: center;
            .footer-text{
                display: none;
            }
            .footer-newsletter{
                width: 100%;
                padding-left: 10%;
                .followers{
                    padding: 40px 0;
                }
            }
        }
    }
}

@media screen and (max-width: 799px){
    /* mobiles format paysage */
    header{
        .nav-wrapper{
            nav{
                display: none;
            }
        }
        .presentation{
            top: 22%;
            h2{
                height: 45px;
                font-size: 40px;
            }
            h1{
                font-size: 40px;
            }
            p{
                width: 75%;
                text-align: center;
                font-size: 15px;
            }
        }
    }

    footer{
        .testimony{
            .testimony-text{
                width: 80%;
                figure{
                    bottom: 18%;
                }
            }
            .map{
                .google-map{
                    width: 850px;
                    height: 500px;
                    bottom: 0%;
                }
            }
        }
    }
}

.avatar{
    width: 75px;
}

@media screen and (max-width: 492px){
    /* mobile format portrait à grande résolution*/
    header{
        .nav-wrapper{
            .social-links{
                a{
                    margin: 0 5px;
                }
            }
        }
    }

    .discover{
        .discover-text{
            .discover-text-paragraph{
                font-size: 15px;
                padding: 0;
            }
            .discover-plate{
                padding: 15px 0;
            }
        }
    }

    .menu-nav-elements{
        font-size: 12px;
    }

    .menu-desc{
        h3{
            font-size: 12px;
            margin-bottom: 5px;
        }
        p{
            font-size: 12px;
            width: 90%;
        }
    }

    .booking{
        .booking-wrapper{
            .booking-time{
                .booking-hours{
                    .booking-hours-open{
                        .booking-days{
                            font-size: 15px;
                        }
                        p{
                            font-size: 12px;
                        }
                    }
                    .phone-number{
                        font-size: 15px;
                    }
                }
            }
        }
    }

    footer{
        height: 1250px;
        .testimony{
            padding-top: 0;
            .testimony-text{
                height: 500px;
                figure{
                    bottom: 15%;
                    margin-bottom: 35px;
                }
                .testimony-text-quote{
                    position: relative;
                    bottom: 10%;
                    font-size: 12px;
                }
                .testimony-ceo{
                    position: relative;
                    bottom: 7%;
                    h3{
                        font-size: 25px;
                    }
                    .position-ceo{
                        font-size: 15px;
                    }
                }
            }
        }
        .footer-wrapper{
            .footer-newsletter{
                .form{
                    h3{
                        font-size: 15px;
                    }
                }
                .followers{
                    justify-content: space-between;
                    h3{
                        font-size: 15px;
                    }
                    a{
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 399px){
    /* mobiles format portrait */
    footer{
        .testimony{
            .testimony-text{
                figure{
                    bottom: 12%;
                }
            }
        }
    }
}

@media screen and (max-width: 350px){
    /* mobiles avec faible résolution */
    footer{
        .testimony{
            .testimony-text{
                figure{
                    bottom: 10%;
                }
            }
        }
    }
}