/* media querries */

@media screen and (max-width: 1280px){
    /* header */
    header{
        .nav-wrapper{
            .social-links{
                width: 10%;
            }
        }
    }

    /* section 1 */

    .discover{
        height: 600px;
        .discover-text{
            width: 100%;
        }
        p{
            padding-bottom: 20px;
        }
        .discover-img{
            display: none;
        }
    }

    
    /* section 2 */

    .menu{
        .menu-wrapper{
            .menu-display{
                width: 80%;
            }
        }
    }

    /* section 3 */

    .booking{
        .booking-wrapper{
            width: 80%;
            .booking-form{
                .booking-form-inputs{
                    width: 80%;
                    .row{
                        input, select{
                            width: 30%;
                        }
                    }
                }
            }
        }
    }

    /* section 4, en display: none */

    .event{
        display: none;
    }

    /* footer */

    footer{
        height: 1300px;
        .testimony{
            .testimony-text{
                width: 80%;
                height: 540px;
                figure{
                    bottom: 16%;
                }
                
            }
        .map{
            .google-map{
                right: 25%;
                }
            }
        }
        .footer-wrapper{
            height: 380px;
        }
    }
}

@media screen and (max-width: 1140px){

    .booking{
        .booking-wrapper{
            .booking-time{
                width: 34%;
            }
            .booking-form{
                width: 66%;
            }
        }
    }

    footer{
        .testimony{
            .testimony-text{
                figure{
                    bottom: 10%;
                }
            }
        }
    }

}

@media screen and (max-width: 996px){

}