/* media querries */

@media screen and (max-width: 1280px){
    /* header */
    header{
        .nav-wrapper{
            .social-links{
                width: 10%;
            }
        }
    }
    
    /* section 1 */

    .discover{
        flex-flow: column;
        justify-content: center;
        align-items: center;
        .discover-text{
            width: 50%;
            position: relative;
            top: 86%;
            z-index: 9999;
            background-color: $color-primary;
        }
        .discover-img{
            width: 100%;
            bottom: 20%;
            img{
                width: 100%;
                
            }
        }
    }

    /* section 2 */

    .menu{
        .menu-wrapper{
            .menu-display{
                width: 80%;
            }
        }
    }

    /* section 3 */

    .booking{
        .booking-wrapper{
            width: 80%;
            .booking-form{
                .booking-form-inputs{
                    width: 80%;
                    .row{
                        input, select{
                            width: 30%;
                        }
                    }
                }

            }
        }
    }


    /* section 4 */
    .event{
        height: 1500px;
    }

    .event-wrapper{
        height: 1700px;
        .event-figures{
            .event-figures-columns{
                flex-flow: column;
                justify-content: center;
                .event-figures-second{
                    position: relative;
                    right: 10px;
                    .second-column{
                        position: relative;
                        top: 15%;
                        img{
                            margin: 30px 0;
                        }
                        figcaption{
                            margin: 0;
                            left: 25%;
                        }
                    }
                    
                }
            }
        }
    }

    /* footer */

    footer{
        height: 1300px;
        .testimony{
            .testimony-text{
                width: 80%;
                height: 540px;
                figure{
                    bottom: 16%;
                }
            }
        }
        .footer-wrapper{
            height: 380px;
        }
    }
}

@media screen and (max-width: 1200px){
    /* header */

    header{
        .nav-wrapper{
            padding: 0 15px;
            nav{
                a{
                    font-size: 13px;
                    padding: 0 5px;
                }
            }
            .social-links{
                display: flex;
            }
        }
    }

    /* section 1 */

    .discover{
        height: 600px;
        .discover-text{
            width: 90%;
            position: relative;
            top: 0px;
        }
        p{
            padding-bottom: 20px;
        }
        .discover-img{
            display: none;
            
        }
    }

    /* section 2 */

    .menu{
        height: 1750px;
        .menu-wrapper{
            display: grid;
            .menu-title{
                width: 80%;
                .menu-nav{
                    font-size: 15px;
                    justify-content: space-around;
                }
            }
            .menu-display{
                width: 70%;
                .menu-display-dishes{
                    grid-template-columns: auto;
                    justify-items: center;
                    .dish{
                        width: 75%;
                        height: 160px;
                        .menu-desc{
                            width: 250px;
                            h3{
                                font-size: 15px;
                                line-height: 1;
                            }
                            p{
                                padding: 5px 0;
                                font-size: 15px;
                            }
                        }
                        .dish-pic{
                            width: 70px;
                            img{
                                width: 70px;
                                height: 70px;
                            }
                        }
                        
                    }
                }
                
            }
            .background-image-menu{
                justify-self: center;
                bottom: 3%;
                padding-left: 80px;
            }
        }
    }

    /* section 3 */

    .booking{
        height: 1450px;
        padding: 0;
        .booking-wrapper{
            flex-flow: column;
            height: 1500px;
            width: 70%;
            .booking-time{
                width: 100%;
            }
            .booking-form{
                width: 100%;
                height: 800px;
                padding-bottom: 35px;
                .booking-form-title{
                    padding-top: 25px;
                }
                
                .booking-form-inputs{
                    .row{
                        flex-flow: column;
                        align-items: center;
                        input, select{
                            width: 85%;
                            max-width: 300px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    
    /* section 4, en display: none */
    .event{
        display: none;
        
    }

    /* footer */
    
    footer{
        height: 1600px;
        .testimony{
            .testimony-text{
                width: 70%;
                height: 700px;
                figure{
                    bottom: 18%;
                }
            }
            .map{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 900px;
                .google-map{
                    bottom: 20%;
                    
                }
            }
        }
        
        .footer-wrapper{
            height: 450px;
            .footer-text{
                padding-left: 5%;
                
            }
            .footer-newsletter{
                padding: 70px 40px;
                justify-content: flex-start;
                .followers{
                    padding: 80px 0;
                    h3{
                        padding-right: 10px;
                    }
                    a{
                        padding: 0 10px;
                    }
                }
            }
        }
        
        
    }
}

@media screen and (max-width: 800px){

    .menu{
        .menu-wrapper{
            .menu-display{
                .menu-display-dishes{
                    .dish{
                        width: 100%;
                    }
                }
            }
        }
    }

    footer{
        .testimony{
            .testimony-text{
                figure{
                    bottom: 14%;
                }
            }
        }
    }
}

/* mobiles */

@media screen and (max-width: 600px){

    header{
        .nav-wrapper{
            width: 80%;
            justify-content: space-around;
            nav{
                display: none;
            }
            .social-links{
                display: flex;
            }
        
        }
    }

    .menu{
        .menu-wrapper{
            .menu-display{
                .menu-display-dishes{
                    .dish{
                        width: 90%;
                    }
                }
            }
        }
    }

    footer{
        .testimony{
            .testimony-text{
                height: 800px;
                figure{
                    bottom: 10%;
                }
            }
        }
        .footer-wrapper{
            .footer-text{
                display: none;
            }
            .footer-newsletter{
                width: 100%;
                padding: 15px 30px 30px 30px;
                justify-content: flex-start;
                .form{
                    padding-bottom: 50px;
                    input{
                        width: 150px;
                    }
                }        
                .followers{
                    padding: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 500px){
    /* header */

    
    header{
        .presentation{
            text-align: center;
            top: 20%;
            h1{
                font-size: 50px;
            }
            h2{
                height: 60px;
            }
            p{
                width: 80%;
                word-spacing: 8px;
                letter-spacing: 4px;
                font-size: 15px;
            }
        }
    }    
    
    .discover{
        height: 700px;
    }
    
    .menu{
        .menu-wrapper{
            
            .menu-display{
                width: 80%;
                .menu-display-dishes{
                    .dish{
                        margin: 0;
                        width: 80%;
                        .dish-pic{
                            width: 40%;
                            .img{
                                height: 75px;
                                width: 75px;
                            }
                        }
                        .menu-desc{
                            width: 230px;
                            h3{
                                font-size: 10px;
                                width: 85%;
                            }
                            p{
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .booking{
        .booking-wrapper{
            width: 80%;
            .booking-time{
                .booking-hours{
                    .booking-hours-open{
                        h3, p{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    
    footer{
        height: 1850px;
        .testimony{
            padding-top: 100px;
            .testimony-text{
                width: 90%;
                height: 750px;
                figure{
                    bottom: 6%;
                }
                .testimony-ceo{
                    position: relative;
                    bottom: 11%;
                }
            }
            .map{
                height: 1030px;
                bottom: 200px;
            }
            
        }
        
        
    }
}

@media screen and (max-width: 400px){

    .discover{
        height: 750px;
    }

    .menu{
        .menu-wrapper{
            .menu-display{
                .menu-display-dishes{
                    .dish{
                        justify-content: space-evenly;
                        width: 85%;
                        .dish-pic{
                            .img{
                                height: 50px;
                                width: 50px;
                            }
                        }
                        .menu-desc{
                            width: 220px;
                            padding-left: 0;
                            h3{
                                font-size: 12px;
                            }
                            p{
                                font-size: 14px;
                                width: 85%;
                            }
                        }
                        
                    }
                }
            }
        }
    }

    footer{
        height: 1900px;
        .testimony{
            .testimony-text{
                height: 900px;
                figure{
                    bottom: 12%;
                }
            }
        }
    }
}

@media screen and (max-width: 350px){

    header{
        .presentation{
            top: 22%;
            h1{
                font-size: 30px;;
            }
            h2{
                font-size: 30px;

                height: 30px
            }
        }
    }

    .menu{
        .menu-wrapper{
            .menu-display{
                .menu-display-dishes{
                    .dish{
                        .menu-desc{
                            width: 180px;
                        }
                    }
                }
            }
        }
    }

    footer{
        .testimony{
            .testimony-text{
                figure{
                    bottom: 7%;
                }
            }
        }
    }
}