@charset "UTF-8";
/* Typographie, général */
header {
  color: rgb(238, 238, 238);
}

a {
  text-decoration: none;
  color: rgb(238, 238, 238);
}

h2 {
  font-family: "Allura", cursive;
  color: rgb(166, 114, 69);
  font-size: 55px;
  height: 45px;
  font-weight: 400;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

p {
  font-family: "Roboto", sans-serif;
}

nav {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

/* Typographie, particulier */
.logo {
  font-family: "Allura", cursive;
  font-size: 50px;
}
.logo a:hover {
  color: rgb(166, 114, 69);
}

.store {
  font-weight: 900;
}

.presentation h2 {
  font-size: 50px;
  font-weight: 400;
}
.presentation h1 {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  letter-spacing: 7px;
}
.presentation p {
  letter-spacing: 5px;
  font-size: 20px;
}
.presentation .welcome {
  font-family: "Allura", cursive;
  color: rgb(166, 114, 69);
  font-size: 55px;
  height: 45px;
  font-weight: 400;
}

.discover .discover-title {
  text-align: center;
}
.discover .discover-title h2 {
  font-size: 40px;
  font-weight: 400;
}
.discover .discover-title h3 {
  font-size: 25px;
}
.discover .discover-text .discover-text-paragraph {
  text-align: center;
  font-size: 20px;
}
.discover .discover-text h3 {
  font-size: 20px;
}
.discover .discover-text .cook {
  color: rgb(187, 200, 218);
  font-size: 13px;
  font-weight: 900;
}

.menu-nav-elements {
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.menu .menu-wrapper .menu-title h2 {
  font-size: 40px;
  font-weight: 400;
}

.menu-desc {
  letter-spacing: normal;
}
.menu-desc h3 {
  font-size: 15px;
}
.menu-desc p {
  font-size: 20px;
  width: 85%;
}
.menu-desc a {
  color: rgb(33, 32, 30);
}

.price {
  color: rgb(166, 114, 69);
  font-weight: 900;
  font-size: 20px;
}

.booking .booking-wrapper .booking-time .booking-hours h2 {
  font-size: 50px;
}
.booking .booking-wrapper .booking-time .booking-hours .booking-open {
  font-size: 30px;
}
.booking .booking-wrapper .booking-time .booking-hours .booking-hours-open .booking-days {
  font-size: 20px;
  color: rgb(166, 114, 69);
}
.booking .booking-wrapper .booking-time .booking-hours .phone-number {
  color: rgb(166, 114, 69);
  font-size: 20px;
  font-weight: 900;
}
.booking .booking-form h2 {
  font-size: 50px;
  height: 40px;
}
.booking .booking-form h3 {
  font-size: 35px;
  font-weight: 900;
}

.event-title h2 {
  font-size: 45px;
  height: 30px;
}
.event-title h3 {
  font-size: 40px;
  color: rgb(238, 238, 238);
}

.event-caption h3 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}
.event-caption a {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: rgb(33, 32, 30);
}

.loc {
  color: rgb(187, 200, 218);
  margin: 20px 0;
  font-size: 18px;
}

.event-date {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

footer .testimony .testimony-text {
  font-size: 25px;
}
footer .testimony .testimony-text .testimony-text-quote {
  font-family: "Roboto", sans-serif;
  line-height: 2;
  font-size: 20px;
  text-align: center;
}
footer .testimony .testimony-text .testimony-text-quote .quote {
  font-size: 20px;
}
footer .testimony .testimony-text .testimony-ceo {
  text-align: center;
  padding-top: 30px;
}
footer .testimony .testimony-text .testimony-ceo h3 {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
}
footer .testimony .testimony-text .testimony-ceo .position-ceo {
  font-size: 25px;
}
footer .footer-wrapper h2 {
  font-size: 50px;
}
footer .footer-wrapper p {
  color: rgb(238, 238, 238);
  font-size: 18px;
  line-height: 2;
}
footer .footer-wrapper h3 {
  color: rgb(238, 238, 238);
}
footer .footer-wrapper a {
  color: rgb(89, 89, 86);
}
footer .footer-wrapper a:hover {
  color: rgb(166, 114, 69);
  font-size: large;
}

button {
  background-color: black;
  color: rgb(238, 238, 238);
  margin-top: 20px;
  font-weight: 700;
  padding: 20px 40px;
  border-radius: 30px 30px;
  letter-spacing: 5px;
}
button:hover {
  background-color: rgb(33, 32, 30);
  color: rgb(166, 114, 69);
}

.background-image-menu {
  position: absolute;
  bottom: 0;
}

.plate {
  padding-top: 10px;
  margin: 15px 0;
}

.avatar {
  width: 90px;
  border-radius: 50%;
}

.discover-img {
  position: relative;
  bottom: 87px;
  width: 50%;
}

.first-column-row .event-image img {
  position: relative;
  height: 250px;
  bottom: 7%;
}

.second-column .event-image img {
  max-width: 450px;
  height: 530px;
  margin: 30px 0 30px 10px;
}

.pic-caption {
  position: relative;
  background-color: rgb(33, 32, 30);
  padding: 15px 40px 85px 40px;
  width: 50%;
  height: 50%;
  right: 65%;
  top: 25%;
  color: rgb(238, 238, 238);
  text-align: center;
}

.pic-caption2 {
  background-color: rgb(33, 32, 30);
  padding: 20px 25px;
  width: 90px;
  height: 25%;
  color: rgb(238, 238, 238);
  text-align: center;
}

.pic-caption p, .pic-caption2 p {
  text-align: center;
  font-size: large;
}

footer .testimony .testimony-text figure {
  position: relative;
  bottom: 13%;
}
footer .testimony .map .google-map {
  position: relative;
  bottom: 38%;
}
footer .footer-wrapper .footer-text {
  background-image: url(../../img/bg-footer.jpg);
}

/* reset CSS et généralités*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: rgb(33, 32, 30);
}

/* header */
header {
  height: 910px;
  position: relative;
  padding-top: 25px;
  background-image: url(../../img/bg-slider-06.jpg);
  background-position-x: center;
}
header .nav-wrapper {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .nav-wrapper nav {
  width: 55%;
  display: flex;
  justify-content: space-between;
}
header .nav-wrapper nav a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: rgb(166, 114, 69);
}
header .nav-wrapper .social-links {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  width: 8%;
}
header .nav-wrapper .social-links a {
  margin: 0 10px;
}
header .nav-wrapper .social-links a:hover {
  font-size: large;
  color: rgb(166, 114, 69);
}
header .presentation {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  top: 23%;
}
header .presentation h2 {
  height: 30px;
}
header .presentation img {
  margin: 30px;
}
header .presentation img:hover + p {
  color: rgb(166, 114, 69);
  font-weight: 900;
}

/* fin header */
/* section 1 */
.discover {
  display: flex;
  height: 545px;
  overflow: hidden;
  background-color: rgb(238, 238, 238);
}
.discover .discover-title h2 {
  height: 40px;
}
.discover .discover-title h3 {
  height: 25px;
}
.discover .discover-text {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 30px 0;
  width: 50%;
  border: 1px dashed rgb(166, 114, 69);
}
.discover .discover-text .cook-stephens {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

/* section 2 : menu */
.menu {
  overflow: hidden;
  position: relative;
  height: 1140px;
}
.menu .menu-wrapper {
  display: grid;
  justify-items: center;
}
.menu .menu-wrapper .menu-title {
  width: 50%;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.menu .menu-wrapper .menu-title h2 {
  padding: 50px 0 30px 0;
}
.menu .menu-wrapper .menu-title img {
  padding-top: 30px;
}
.menu .menu-wrapper .menu-title .menu-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
.menu .menu-wrapper .menu-title .menu-nav a:hover {
  color: rgb(166, 114, 69);
}
.menu .menu-wrapper .menu-display {
  width: 50%;
  margin: auto;
  margin-top: 40px;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  background-color: white;
}
.menu .menu-wrapper .menu-display .menu-display-dishes {
  display: flex;
  padding-bottom: 15px;
  justify-content: center;
  background-color: rgb(238, 238, 238);
}
.menu .menu-wrapper .menu-display .menu-display-dishes .dish {
  display: flex;
  margin: 0 15px;
  height: 185px;
  width: 45%;
  padding: 25px 0px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed rgb(187, 200, 218);
}
.menu .menu-wrapper .menu-display .menu-display-dishes .dish .dish-pic {
  overflow: hidden;
}
.menu .menu-wrapper .menu-display .menu-display-dishes .dish .dish-pic img {
  border-radius: 50%;
  width: 100%;
}
.menu .menu-wrapper .menu-display .menu-display-dishes .dish .menu-desc {
  padding-left: 15px;
  width: 300px;
}
.menu .menu-wrapper .menu-display .first-row {
  padding-top: 10px;
  border-top: 4px solid rgb(166, 114, 69);
}

/* fin section 2 */
/* section 3 : booking */
.booking {
  margin: 80px 0;
}
.booking .booking-wrapper {
  display: flex;
  width: 66%;
  margin: auto;
  height: 600px;
}
.booking .booking-wrapper .booking-time {
  width: 30%;
  background-color: black;
}
.booking .booking-wrapper .booking-time .booking-hours {
  height: 550px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: rgb(238, 238, 238);
  padding: 25px;
  margin: 25px;
  border: 1px dashed rgb(238, 238, 238);
}
.booking .booking-wrapper .booking-time .booking-hours h2 {
  height: 40px;
}
.booking .booking-wrapper .booking-time .booking-hours .booking-hours-title img {
  margin: 15px;
}
.booking .booking-wrapper .booking-time .booking-hours .booking-hours-open {
  margin-bottom: 25px;
}
.booking .booking-wrapper .booking-time .booking-hours .booking-hours-open .booking-days {
  margin: 15px 0;
}
.booking .booking-wrapper .booking-form {
  width: 70%;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.booking .booking-wrapper .booking-form img {
  margin: 15px;
}
.booking .booking-wrapper .booking-form .row {
  display: flex;
}
.booking .booking-wrapper .booking-form .row input, .booking .booking-wrapper .booking-form .row select {
  background-color: rgb(238, 238, 238);
  border: none;
  border-bottom: 1px solid rgb(187, 200, 218);
  width: 150px;
  padding: 10px;
  margin: 20px;
}
.booking .booking-wrapper .booking-form .row input option, .booking .booking-wrapper .booking-form .row select option {
  font-size: 14px;
}

/* fin section 3 */
/* section 4 : event */
.event-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  height: 850px;
  width: 65%;
  margin: auto;
}
.event-wrapper .event-title {
  margin: 20px;
}
.event-wrapper .event-title h3 {
  padding-top: 10px;
}
.event-wrapper .event-figures .event-figures-columns {
  display: flex;
}
.event-wrapper .event-figures .event-figures-columns .event-figures-first {
  height: 500px;
  width: 100%;
}
.event-wrapper .event-figures .event-figures-columns .event-figures-first .first-column-row {
  display: flex;
  margin: 30px 10px 30px 0;
  background-color: rgb(238, 238, 238);
  align-items: center;
  text-align: left;
  height: 250px;
}
.event-wrapper .event-figures .event-figures-columns .event-figures-first .first-column-row .event-image {
  height: 220px;
  width: 350px;
  display: flex;
}
.event-wrapper .event-figures .event-figures-columns .event-figures-first .first-column-row .event-caption {
  padding: 10px;
}
.event-wrapper .event-figures .event-figures-columns .event-figures-first .first-column-row .event-caption h3 {
  margin-left: 10px;
}
.event-wrapper .event-figures .event-figures-columns .event-figures-first .first-column-row .event-caption .loc {
  padding: 10px 0;
}
.event-wrapper .event-figures .event-figures-columns .event-figures-second {
  display: flex;
  flex-flow: column;
  height: 500px;
  margin-left: 10px;
}
.event-wrapper .event-figures .event-figures-columns .event-figures-second .second-column .event-image {
  display: flex;
}
.event-wrapper .event-figures .event-figures-columns .event-figures-second .second-column .event-caption {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgb(238, 238, 238);
  width: 85%;
  height: 450px;
  left: 10%;
  bottom: 50%;
}
.event-wrapper .event-figures .event-figures-columns .event-figures-second .second-column .event-caption .pic-caption2-text {
  display: flex;
  flex-flow: column;
  height: 60%;
  justify-content: center;
}
.event-wrapper .event-figures .event-figures-columns .event-figures-second .second-column .event-caption .pic-caption2-text h3 {
  padding: 0 40px;
}
.event-wrapper .event-figures .fa-clock {
  padding: 0 10px;
}

/* footer */
footer {
  height: 1100px;
  overflow: hidden;
}
footer .testimony {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}
footer .testimony .testimony-text {
  background-color: rgb(238, 238, 238);
  width: 65%;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
  position: relative;
  top: 125px;
  z-index: 9999;
}
footer .testimony .testimony-text .testimony-text-quote {
  width: 85%;
  max-height: 400px;
}
footer .testimony .testimony-text .position-ceo {
  padding: 20px 0;
  color: rgb(166, 114, 69);
}
footer .testimony .map {
  overflow: hidden;
  position: relative;
  bottom: 45px;
  height: 800px;
}
footer .footer-wrapper {
  display: flex;
  height: 300px;
  position: relative;
  bottom: 390px;
}
footer .footer-wrapper .footer-text {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 17%;
  padding-right: 5%;
  width: 50%;
}
footer .footer-wrapper .footer-text h2 {
  padding: 65px 0;
}
footer .footer-wrapper .footer-newsletter {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  width: 50%;
  background-color: rgb(33, 32, 30);
  padding: 30px 65px;
}
footer .footer-wrapper .footer-newsletter .form h3 {
  padding: 15px 0;
}
footer .footer-wrapper .footer-newsletter .form input {
  background-color: rgb(33, 32, 30);
  height: 35px;
  width: 280px;
  padding: 10px;
  border: 1px groove rgb(166, 114, 69);
}
footer .footer-wrapper .footer-newsletter .followers {
  display: flex;
  align-items: center;
}
footer .footer-wrapper .footer-newsletter .followers a {
  padding: 0 20px;
}

/* media querries */
@media screen and (max-width: 1280px) {
  /* laptop avec faible résolution, tablettes format paysage */
  /* header */
  header .nav-wrapper .social-links {
    width: 10%;
  }
  /* section 1 */
  .discover .discover-text {
    width: 100%;
  }
  .discover p {
    width: 80%;
    padding-bottom: 20px;
  }
  .discover .discover-img {
    display: none;
  }
  /* section 2 */
  .menu .menu-wrapper .menu-display {
    width: 80%;
  }
  /* section 3 */
  .booking .booking-wrapper {
    width: 80%;
  }
  .booking .booking-wrapper .booking-form .booking-form-inputs {
    width: 80%;
  }
  .booking .booking-wrapper .booking-form .booking-form-inputs .row input, .booking .booking-wrapper .booking-form .booking-form-inputs .row select {
    width: 30%;
  }
  /* section 4, en display: none */
  .event {
    display: none;
  }
  /* footer */
  footer {
    height: 1300px;
  }
  footer .testimony .testimony-text {
    width: 80%;
    height: 540px;
  }
  footer .testimony .testimony-text .testimony-text-quote {
    position: relative;
    bottom: 5%;
  }
  footer .footer-wrapper {
    height: 380px;
  }
}
@media screen and (max-width: 1140px) {
  /* tablettes avec grande résolution, format paysage */
  .booking .booking-wrapper .booking-time {
    width: 34%;
  }
  .booking .booking-wrapper .booking-form {
    width: 66%;
  }
}
@media screen and (max-width: 996px) {
  /* tablettes format portrait */
  .menu {
    height: fit-content;
  }
  .menu .menu-wrapper .menu-title {
    width: 80%;
  }
  .menu .menu-wrapper .menu-title .menu-nav {
    padding-bottom: 100px;
  }
  .menu .menu-wrapper .menu-display {
    bottom: 100px;
    width: 80%;
  }
  .menu .menu-wrapper .menu-display .menu-display-dishes {
    flex-flow: column;
    align-items: center;
  }
  .menu .menu-wrapper .menu-display .menu-display-dishes .dish {
    width: 80%;
    height: 165px;
  }
  .booking .booking-wrapper {
    flex-flow: column;
    align-items: center;
    height: fit-content;
    width: 80%;
  }
  .booking .booking-wrapper .booking-time, .booking .booking-wrapper .booking-form {
    width: 100%;
  }
  .booking .booking-wrapper .booking-form {
    height: 800px;
  }
  .booking .booking-wrapper .booking-form h2 {
    font-size: 35px;
    height: 30px;
  }
  .booking .booking-wrapper .booking-form h3 {
    font-size: 25px;
  }
  .booking .booking-wrapper .booking-form .booking-form-inputs .row {
    flex-flow: column;
    align-items: center;
  }
  .booking .booking-wrapper .booking-form .booking-form-inputs .row input, .booking .booking-wrapper .booking-form .booking-form-inputs .row select {
    width: 75%;
  }
  footer .testimony .testimony-text {
    width: 80%;
  }
  footer .testimony .testimony-text .testimony-text-quote {
    font-size: 15px;
  }
  footer .footer-wrapper {
    align-items: center;
  }
  footer .footer-wrapper .footer-text {
    display: none;
  }
  footer .footer-wrapper .footer-newsletter {
    width: 100%;
    padding-left: 10%;
  }
  footer .footer-wrapper .footer-newsletter .followers {
    padding: 40px 0;
  }
}
@media screen and (max-width: 799px) {
  /* mobiles format paysage */
  header .nav-wrapper nav {
    display: none;
  }
  header .presentation {
    top: 22%;
  }
  header .presentation h2 {
    height: 45px;
    font-size: 40px;
  }
  header .presentation h1 {
    font-size: 40px;
  }
  header .presentation p {
    width: 75%;
    text-align: center;
    font-size: 15px;
  }
  footer .testimony .testimony-text {
    width: 80%;
  }
  footer .testimony .map .google-map {
    width: 850px;
    height: 500px;
    bottom: 0%;
  }
  .avatar {
    width: 75px;
  }
}
@media screen and (max-width: 492px) {
  /* mobile format portrait à grande résolution*/
  header .nav-wrapper .social-links a {
    margin: 0 5px;
  }
  .discover .discover-text .discover-text-paragraph {
    font-size: 15px;
    padding: 0;
  }
  .discover .discover-text .discover-plate {
    padding: 15px 0;
  }
  .menu-nav-elements {
    font-size: 12px;
  }
  .menu-desc h3 {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .menu-desc p {
    font-size: 12px;
    width: 90%;
  }
  .booking .booking-wrapper .booking-time .booking-hours .booking-hours-open .booking-days {
    font-size: 15px;
  }
  .booking .booking-wrapper .booking-time .booking-hours .booking-hours-open p {
    font-size: 12px;
  }
  .booking .booking-wrapper .booking-time .booking-hours .phone-number {
    font-size: 15px;
  }
  footer {
    height: 1250px;
  }
  footer .testimony {
    padding-top: 0;
  }
  footer .testimony .testimony-text {
    width: 90%;
    height: 650px;
  }
  footer .testimony .testimony-text figure {
    bottom: 8%;
  }
  footer .testimony .testimony-text .testimony-text-quote {
    width: 51%;
    bottom: 5%;
    font-size: 15px;
  }
  footer .testimony .testimony-text .testimony-ceo h3 {
    font-size: 25px;
  }
  footer .testimony .testimony-text .testimony-ceo .position-ceo {
    font-size: 15px;
  }
  footer .footer-wrapper .footer-newsletter .form h3 {
    font-size: 15px;
  }
  footer .footer-wrapper .footer-newsletter .followers {
    justify-content: space-between;
  }
  footer .footer-wrapper .footer-newsletter .followers h3 {
    font-size: 15px;
  }
  footer .footer-wrapper .footer-newsletter .followers a {
    padding: 0 10px;
  }
}
@media screen and (max-width: 399px) {
  footer .testimony .testimony-text .testimony-text-quote {
    font-size: 14px;
  }
}
@media screen and (max-width: 350px) {
  /* mobiles avec faible résolution */
  footer .testimony .testimony-text .testimony-text-quote {
    font-size: 13px;
  }
}

/*# sourceMappingURL=style.css.map */
